services:
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app-1
      - app-2

  app-1:
    image: cloud-compose-spring:latest
    env_file: .env
    environment:
      - APP_NAME=app-1

  app-2:
    image: cloud-compose-spring:latest
    env_file: .env
    environment:
      - APP_NAME=app-2
